<!DOCTYPE HTML>
{% extends "see_app\base.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
    </head>
 <body>
 {% block header %}
    <table>
        <tr>
            <td> <!-- Моя фотография -->
                <img src="https://i.ibb.co/w4MKgYv/foto.jpg" width="420" height="650"  border="0" >
            </td>
            <td>
                <p>
                    <h3 align="center" style="color:black; margin: 5%;"> <!--Часть "Куда вы попали?"-->
                        Здравствуйте. Рада приветствовать вас на сайте учителя музыки г. Тольятти
                        Ериной Ларисы Викторовны. Этот сайт создан для помощи педагогам, ученикам и их родителям.
                        На данном сайте вы сможете узнавать от меня интересные новости в области музыки и культуры России.
                    </h3>
                    <h1 align="center"> <!--Часть "Обо мне" -->
                        Обо мне
                    </h1>
                    <h4 style="margin: 5%;">
                        <p>Место работы: Муниципальное бюджетное общеобразовательное учреждение
                        городского округа Тольятти "Школа № 80 имени Героя
                        Социалистического Труда А.С.Мурысева"</p>
                        <p>Преподаваемые предметы: музыка, хоровое пение, предпрофильные курсы</p>
                        <p>Должность: учитель музыки</p>
                        <p>Категория: высшая</p>
                        <p>Общий стаж: 35 лет</p>
                        <p>Стаж по специальности: 35 лет</p>
                        <p>Награды: Почетный работник общего образования</p>
                        <p>Образование: Высшее педагогическое</p>
                        <p>Учебное заведение: Куйбышевский педагогический институт имени В.В.Куйбышева</p>
                        <p>Специальность по диплому: учитель музыки средней школы</p>
                    </h4>
                </p>
            </td>
        </tr>
    </table>
 {% endblock header %}
 {% block content %}
    <table> <!--Часть с сочинением и ссылкой на него-->
        <tr>
            <td>
                <p>
                    <h5>
                        <p>
                            «У всех людей, которые когда-либо учились или учатся в школах, конечно же, есть или были
                            классные руководители. У многих это взрослые тети в строгих костюмах: очень серьезные
                            и "самых честных правил"! Многие так
                            говорят про «своих классных». Вы думаете у меня иначе?! Да!!! У меня иначе...»
                        </p>
                        <p>
                            «Всё начинается, именно, здесь. К этому крыльцу и к этой двери подходил каждый человек
                            в своей жизни. Заходил и очень нервничал, думая, что же
                            его ждёт? А с годами он радостно распахивал эту же дверь и вбегал
                            в здание, ожидая встреч с друзьями, или хмуро подходил к двери, уже предчувствуя
                            бесконечные часы занятий. Здесь истоки характеров, идеалов, убеждений. Врачи
                            и строители, инженеры и актёры - всё начинается здесь. Какими сумеешь
                            вырастить и воспитать детей? Чему научишь их? Какой след оставишь в юных сердцах...»
                        </p>
                    </h5>
                    <h3>
                        Если вас заинтересовали отрывки из этого сочинения, написанного моими учениками про меня, вы можете посмотреть полную версию <a href="https://www.dropbox.com/scl/fi/0z23vk6w19xjmr5vi61ck/Document.docx?dl=0&new=1&rlkey=ncwebl907kclih2z5r3ayixhj" target="_blank">тут</a>.
                    </h3>
                </p>
            </td>
        </tr>
    </table>
 {% endblock content %}
 {% block footer %}
    <h1 align="center">
        Мои достижения
    </h1>
    <h1> </h1> <!--пустое пространство-->
    <table> <!--Фотограффии сертификатов-->
        <tr>
            <td>
                <img src="https://i.ibb.co/WKLMFLb/klas-ruk-kursy.png"
                     width="600" height="800" border="0">
            </td>
            <td>
                <img src="https://i.ibb.co/tYKYWjk/obrab-person-dannykh.png"
                     width="600" height="800" border="0">
            </td>
        </tr>
    </table>
            <h1>
                Связаться со мной вы можете по почте: Erina.school8@yandex.ru или в вк <a href="https://vk.com/id486778332" target="_blank">
                <img src="https://i.ibb.co/YcW3Kvv/vk.png" width="70"
                height="50" alt="Пример"></a>
            </h1>
 {% endblock footer %}
 </body>
</html>





 <!--<div class="jumbotron jumbotron-fluid" style="background:#cbf7f3;">
        <div class="container">-->