<!DOCTYPE HTML>
{% extends "see_app\base.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
    </head>
 <body>
 {% block header %}
     <h1 align="middle">
         Здесь вы сможите увидеть всю информацию: об постоянных мероприятиях, заинтересовавших меня
         новостей, которые я могу вывести как <i>важные</i>.
     </h1>
 {% endblock header %}
 </body>
