{% extends "see_app\base.html" %}
{% load static %}


{% block header %}
    <h1><big>Методичка</big></h1>
{% endblock header %}
{% block content %}

{% for topic in topics %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            {{ topic.head }}
            <small>
                {{ topic.date_added|date:"M d, Y H:i" }}
            </small>
        </h3>
    </div>
    <div class="panel-body">
        <h4>
            {{ topic.text|linebreaks }}
        </h4>
    </div>
</div>

    {% empty %}
        Новости временно отсутствуют.
    {% endfor %}
{% endblock content %}


